<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>eungjing</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">

</head>
<body>

    <div class="form-deco">
        <img class="logo" src="/static/image/logo.png" />
        <div class="form-title">응가하라 2030</div>
    </div>

    <form class="sign-box" action="/user/login">
        <div class="form-el-bind">
            <div class="input-bind-box">
                <input id="id" placeholder="아이디" />
                <input id="password" placeholder="비밀번호" />
            </div>
            <div class="eung-button" type="button">로그인</div>
        </div>
        <div class="signup-link-box">
            <a href="/user/form">회원가입</a>
        </div>
    </form>

<script type="text/javascript" src='/static/js/script.js'></script>
</body>
</html>