<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>eungjing</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">

</head>
<body>

    <div class="form-deco">
        <div class="form-title">
            <span style="color:red;">응</span>
            <span style="color:orange;">가</span>
            <span style="color:yellowgreen;">하</span>
            <span style="color:green;">라</span>
            <span style="color:blue;">2</span>
            <span style="color:darkblue;">0</span>
            <span style="color:deeppink;">3</span>
            <span style="color:purple;">0</span>
        </div>
    </div>

    <form class="sign-box" action="/user/login" method="post">
        <h6>현재 Chrome 브라우저에서만 동작합니다.</h6>
        <div class="form-el-bind">
            <div class="input-bind-box">
                <input type="text" name="name" id="name" placeholder="아이디" required />
                <input type="password" name="password" id="password" placeholder="비밀번호" required />
            </div>
            <button type="submit" class="eung-button">로그인</button>
        </div>
        <div class="signup-link-box">
            <a href="/user/form">회원가입</a>
        </div>
    </form>

<script type="text/javascript" src='/static/js/script.js'></script>
</body>
</html>