<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <title>회원가입</title></head>
<body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71626726-1', 'auto');
    ga('send', 'pageview');

</script>
    <div class="form-deco" style="margin-bottom: 10px">
        <img class="join" style="width:70px; height: 70px;" src="/static/image/top_secret.png" />
        <div class="form-title marginTopDelete" style="font-size: 18px;">걱정마세요. <br /> 여기에서 있었던 일은 비밀로 지켜드립니다.</div>
        <h5 style="color:gray;">이 사이트는 베타 서비스 중입니다.<br>가입 정보나 기록 또는 사이트가 언제고 소멸될 수 있습니다.
            <br>이에 동의할 시에만 가입할 수 있습니다.</h5>
    </div>

    <form class="join-box">
        <div class="form-el-bind">
            <div>
                <h3 style="text-align: center; margin-bottom: 15px">아이디와 패스워드는<br />영문 또는 숫자만 입력 가능합니다.</h3>
                <ul>
                    <li>
                        <label for="id">ID</label>
                        <input type="text" id="id" name="id" value="" maxlength="15" placeholder="아이디" required />
                    </li>

                    <li>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" maxlength="20" placeholder="비밀번호"
                               required />
                    </li>

                    <li>
                        <label for="hintQ">비밀번호 찾기 질문</label>
                        <select name="hint_Q" id="hintQ">
                            <option value="1">당신이 태어난 지역은 어디인가요?</option>
                            <option value="2">당신이 좋아하는 색깔은 무엇인가요?</option>
                            <option value="3">당신의 반려동물 이름은 무엇인가요?</option>
                        </select>
                    </li>

                    <li>
                        <label for="hint_A">비밀번호 찾기 답변</label>
                        <input type="text" id="hint_A" name="hint_A" value="" maxlength="30"
                               placeholder="비밀번호 찾기 답변" required />
                    </li>

                    <li>
                        <label for="job">누구신가요?</label>
                        <select name="job" id="job">
                            <option value="1">남자 사람</option>
                            <option value="2">여자 사람</option>
                            <option value="3">고양이</option>
                            <option value="4">개</option>
                            <option value="5">그 외의 무언가..</option>
                        </select>
                    </li>

                    <li>
                        <label>담배피세요?</label>
                        <input type="radio" name="smoking" class="radio" value="YES">네
                        <input type="radio" name="smoking" class="radio" value="NO" checked="checked" >아니오
                    </li>
                </ul>
            </div>
            <div class="button">
                <button type="submit">회원가입</button>
                <a href="/">취소</a>
            </div>
        </div>
    </form>

<script type="text/javascript">
    window.addEventListener("load", function() {
        var submitForm = document.querySelector("form.join-box")
        submitForm.addEventListener("submit", function(e) {
            e.preventDefault()
            var joinForm = document.querySelector(".join-box")
            var user = {
                "name" : joinForm.querySelector("#id").value
                , "password" : joinForm.querySelector("#password").value
                , "hint_Q" : joinForm.querySelector("#hintQ").value
                , "hint_A" : joinForm.querySelector("#hint_A").value
                , "job" : joinForm.querySelector("#job").value
                , "smoking" : (function () {
                    var value;
                    [].forEach.call(joinForm.querySelectorAll(".radio"), function(el) {
                        if (el.checked === true) {
                            value = el.value;
                        }
                    });
                    return value;
                })()
            }

            fetch("/user", {
                method: "POST",
                headers: {
                    'Accept': 'application/json, text/plain, */*'
                    , "Content-Type": "application/json"
                },
                body: JSON.stringify(user)
            }).then(function(res) {
                if (res.ok) {
                    alert("회원가입에 성공했습니다!")
                    location.href='/';
                } else {
                    alert("아이디 중복 등의 이유로 회원가입에 실패했습니다.");
                }
            });
        })
    }, false)
</script>
</body>
</html>