<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title></head>
<body>

    <div class="form-deco">
        <img class="join" src="/static/image/top_secret.png" />
        <div class="form-title">걱정마세요. 여기서 있었던 일은 모두 비밀로 지켜드립니다. </div>
    </div>

    <form class="join-box" action="/user/join" method="post">
        <div class="form-el-bind">
            <div class="input-bind-box">
            	<br><br>
            	<td>아이디</td>
                <input type="text" name="ID" value=" " maxlength="15" />
                <br><td>비밀번호</td>
                <input type="password" name="password" maxlength="20" />
                <br><td>비밀번호 찾기 질문</td>
                <select name="hint_Q"><br>
   					<option value="1">당신이 태어난 지역은 어디인가요?</option><br>
  					<option value="2">당신이 좋아하는 색깔은 무엇인가요?</option><br>
 					<option value="3">당신의 반려동물 이름은 무엇인가요?</option><br>
 				</select>
                <br><td>비밀번호 찾기 답변</td>
                <input type="text" name="hint_A" value=" " maxlength="30" />
                <br><td>직업(?)</td>
                <select name="job"><br>
   					<option value="1">남자 사람</option><br>
  					<option value="2">여자 사람</option><br>
 					<option value="3">고양이</option><br>
 					<option value="4">개</option><br>
 					<option value="5">그 외의 무언가..</option><br>
 				</select>
 				<br><td>흡연여부</td>
			<form name=myForm>
				네<input type="checkbox" name="objChkBox" onClick="chkBoxCheck(0)">
				아니요<input type="checkbox" name="objChkBox" onClick="chkBoxCheck(1)"><br>
			</form>
            </div>
            <button type="submit" class="eung-button">회원가입</button>
            <button class="eung-button">취소</button>
        </div>
    </form>

<script type="text/javascript" src='/static/js/script.js'></script>
</body>
</html>


<!--  흡연여부 체크박스 하나만 선택하도록 할 수 있는 자바 스크립트 코드 -->
<!-- 
<SCRIPT LANGUAGE="JavaScript">
function chkBoxCheck(intChkNumber) {

   // 체크박스 갯수만큼 반복문을 돌면서
   for (j = 0; j < 8; j++) {

        // 체크박스가 선택되어 있으면
        if (eval("document.myForm.objChkBox[" + j + "].checked") == true) {

             // 우선 체크박스의 속성을 선택되지 않음으로 하고
             document.myForm.objChkBox[j].checked = false;

             // 사용자가 클릭한 체크박스와 프로그래밍적으로 돌고 있는
           // 체크박스의 번호가 같으면
             if (j == intChkNumber) {

                  // 이런 경우만 체크박스가 선택되도록 한다...
                  document.myForm.objChkBox[j].checked = true;
             }
       }
   }
}
</script>